body{
    font-family: 'Gilroy';
    font-weight: 400;
    color: #000;
    margin: 0;
    font-size: 16px;
}

.smooth-scroll{
    overflow: hidden;
}

html.has-scroll-smooth{
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

html.has-scroll-smooth .smooth-scroll{
    perspective: 1px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*-webkit-font-smoothing: antialiased;*/
}

ul{
    padding-left: 0;
    margin: 0;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #18191B;
}

.container{
    max-width: 1380px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.row>div{
    padding-left: 15px;
    padding-right: 15px;
}

img{
    max-width: 100%;
}

header{
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
}

header + *{
    margin-top: 93px;
}

header nav ul{
    display: flex;
    align-items: center;
}

header nav li{
    margin-left: 30px;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    font-size: 14px;
    color: rgba(61, 61, 61, 1);
}

header nav li:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 1px;
    background: #000000;
    width: 0;
    transition: .5s ease width;
}

header nav li:hover:after{
    width: 55%;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main_top-section{
    position: relative;
}

#main_top-section .swiper-slide {
    position: relative;
    height: calc(100vh - 83px);
    min-height: 600px;
}

#main_top-section .swiper-slide .container{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-top-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    z-index: -1;
}

#main_top-section  .container-socials{
    position: relative;
}

#main_top-section .social-links {
    position: absolute;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    right: 15px;
}

#main_top-section .social-links img{
    margin-top: 22px;
    transition: .2s ease transform;
}

#main_top-section .social-links img:hover{
    transform: scale(1.15);
}

p{
    color: #5A5A5A;
    margin-top: 20px;
}

#main_top-section p{
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 20px;
    max-width: 910px;
}

#main_top-section h1{
    color: #FFF;
}

h2.__big{
    color: #000;
}

h1, h2.__big{
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}

h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.up-fade_animation{
    opacity: 0;
    transform: translateY(50px);
    transition: .8s ease;
    transition-property: opacity, transform;
}

.up-fade_animation.scrolled{
    opacity: 1;
    transform: translateY(0);
}

.ta-center{
    text-align: center;
}

#about-us{
    padding-top: 120px;
}

#about-us .row{
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

#about-us p{
    max-width: 560px;
}

.text-line{
    font-size: 16px;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 75px;
}

.text-line:before{
    content: '';
    width: 50px;
    height: 1px;
    background: #000;
    margin-right: 20px;
}

.btn{
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid #000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    transition: .4s ease;
    transition-property: color, background-color;
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

.btn:hover{
    background-color: #000;
    color: #fff;
}

#about-us .btn{
    margin-top: 70px;
}

#our-services{
    padding-top: 135px;
}

#our-services .__top{
    display: flex;
    justify-content: flex-end;
}

#our-services .__top p{
    margin-top: 0;
    margin-left: 57px;
    max-width: 560px;
    align-items: flex-end;
    display: flex;
}

.swiper{
    overflow: hidden;
}

.swiper-slide{
    height: auto;
}

#swiper-services,
#swiper-products,
#swiper-products_popular{
    display: flex;
    align-items: center;
    position: relative;
}

#swiper-services{
    margin-top: 92px;
}

.service-item .img-outer{
    position: relative;
    padding-top: 69%;
    margin-bottom: 20px;
}

.service-item .img-outer img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
}

.service-item p{
    margin-top: 20px;
}

h3{
    font-size: 25px;
    font-weight: 700;
    line-height: 100%;
}

.swiper .button-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    background: #FFF;
    cursor: pointer;
    transition: .3s ease;
    transition-property: transform, opacity;
    filter: drop-shadow(4px 2px 10px rgba(0, 0, 0, 0.10));
}

.swiper-button-disabled{
    opacity: 0;
}

.button-nav-outer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button-nav-outer>div:last-child{
    margin-left: 15px;
}

.button-nav-long{
    cursor: pointer;
}

.swiper .button-nav:hover{
    transform: scale(1.1);
}

.swiper .button-nav.button-prev{
    left: -50px;
}

.swiper .button-nav.button-next{
    right: -50px;
}

.swiper .button-nav img{
    width: 15px;
}

.swiper .button-nav.button-prev img{
    margin-left: 30px;
}

.swiper .button-nav.button-next img{
    margin-right: 30px;
}

#how-we-work{
    padding-top: 120px;
}

#how-we-work .row{
    margin-top: 50px;
}

#how-we-work .row>div{
    width: 25%;
}

#how-we-work .num{
    font-size: 163px;
    font-weight: 700;
    color: #F2F2F2;
}

#how-we-work h3{
    text-transform: uppercase;
    margin-top: -60px;
}

#how-we-work h3, #how-we-work p{
    text-align: center;
}


#shop{
    margin-top: 120px;
}

#shop h2{
    text-align: center;
}

#shop h2 + p{
    max-width: 816px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#swiper-products{
    margin-top: 50px;
}

.product-item{
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    padding: 20px;
    height: 100%;
}

.product-item img{
    width: max-content;
}

.product-item .name{
    font-weight: 700;
    margin-top: 28px;
}

.product-item p{
    margin-top: 10px;
}

.product-item .price{
    font-size: 20px;
    font-weight: 700;
    line-height: 125%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.product-item .btn{
    width: 100%;
    margin-top: auto;
}

#our-services .btn,
.show-all{
    max-width: 430px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#paint-shop-rent{
    margin-top: 120px;
}

#paint-shop-rent .wrapper{
    background: #F7F7F7;
    padding: 35px;
}

#paint-shop-rent .wrapper .product-item{
    background-color: #EEEEEE;
}

#paint-shop-rent .row{
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#paint-shop-rent .__right{
    max-width: 535px;
    width: 100%;
}

#swiper_paint-shop-rent{
    width: 100%;
}

#paint-shop-rent .btn.show-all{
    margin-left: 0;
    margin-top: 70px;
}

#paint-shop-rent .__left p{
    max-width: 560px;
}

#trust-us{
    margin-top: 120px;
}

#trust-us .row{
    justify-content: space-between;
}

#trust-us p{
    max-width: 630px;
}

#swiper_trust-us{
    margin-top: 90px;
}

#swiper_trust-us .swiper-slide{
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#swiper_trust-us .swiper-slide img{
    filter: grayscale(1);
    transition: .3s ease filter;
    cursor: pointer;
}

#swiper_trust-us .swiper-slide img:hover{
    filter: none;
}

#contact-us{
    padding-top: 120px;
}

#contact-us .row-outer{
    justify-content: space-between;
}

#contact-us h2{
    margin-bottom: 80px;
}

#contact-us .row-outer>div{
    padding-left: 25px;
    border-left: 2px solid #B3B3B3;
}

#contact-us .groups h3{
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 4px;
}

#contact-us .groups .value{
    font-weight: 500;
    color: #000;
    white-space: break-spaces;
}

#contact-us .groups>div:not(:last-child){
    margin-bottom: 53px;
}

.col-50{
    width: 50%;
}

.col-25{
    width: 25%;
}

form.default label,
form.default input,
form.default textarea{
    width: 100%;
}

.col-100{
    width: 100%;
}

form.default>div:not(:last-child){
    margin-bottom: 30px;
}

form.default input{
    border: 0;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

form.default input,
form.default textarea,
form.default label span{
    font-size: 19px;
    font-weight: 500;
    color: #000;
    outline: none;
}

form.default input::placeholder,
form.default textarea::placeholder,
form.default label span{
    color: rgba(0, 0, 0, 0.3);
}

form.default textarea{
    padding-left: 10px;
    padding-top: 10px;
    min-height: 104px;
}

form.default label span{
    padding-bottom: 10px;
    display: block;
}

form.default .btn{
    margin-top: 70px;
}

#contact-us .row-outer>div.__right{
    max-width: 788px;
}

footer{
    background-color: #060301;
    padding-top: 55px;
    padding-bottom: 25px;
    margin-top: 120px;
}

footer .row.__top{
    justify-content: space-between;
}

footer .row.__top>div:last-child{
    max-width: 435px;
}

footer .group .name,
footer nav.__center a{
    color: #35393C;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

footer nav.__services{
    margin-top: 21px;
}

footer nav.__services li{
    margin-bottom: 15px;
}

footer nav.__center li{
    margin-bottom: 10px;
}

footer nav.__services a{
    color: #fff;
    text-transform: uppercase;
}

footer nav a:hover{
    text-decoration: underline;
}

.btn.dark{
    border-color: #fff;
    background-color: #130E06;
    color: #fff;
}

.btn.dark:hover{
    background-color: #fff;
    color: #130E06;
}

footer .groups>.group{
    margin-top: 50px;
}

footer .group .name{
    margin-bottom: 10px;
    display: block;
}

footer .group .value{
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    display: block;
}

.social-links_horizontal{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.social-links_horizontal a{
    margin-right: 22px;
    transition: .2s ease transform;
}

.social-links_horizontal a:hover{
    transform: scale(1.15);
}

.all-rights{
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    display: block;
    margin-top: 15px;
}

.wrapper-banner{
    position: relative;
    min-height: 300px;
}

.wrapper-banner .btn{
    margin-top: 50px;
}

.wrapper-banner p{
    max-width: 560px;
}

#banner{
    padding-top: 50px;
}

#banner .wrapper-banner{
    padding-top: 44px;
    padding-bottom: 44px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner.__shop .wrapper-banner{
    background-color: #EDF0F5;
}

#banner.__rent .wrapper-banner{
    background: #A9A0A5 url("../img/bg-rent-banner.jpg") no-repeat;
    background-size: cover;
}

#banner.__rent p{
    color: #FFFFFF;
}

#banner.__rent h2{
    color: #FFFFFF;
}

.people-banner{
    position: absolute;
    right: 0;
    bottom: 0;
}

#popular-goods{
    margin-top: 100px;
}

#popular-goods h2{
    margin-left: 20%;
}

#swiper-products_popular{
    margin-top: 50px;
}

#swiper-products_popular .product-item .btn{
    height: 40px;
}

#catalog{
    margin-top: 63px;
}

.filter-outer{
    max-width: 300px;
    width: 100%;
}

.filter-outer .__top{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.filter-outer .__top span{
    margin-left: 13px;
}

.filter-outer .__top span,
.filter-groups .group .group-name{
    font-weight: 700;
    line-height: 150%;
    color: #101010;
}

.filter-groups .group{
    margin-bottom: 20px;
}

.filter-groups .group .group-name{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filter-groups .group .group-name:after{
    content: url("../img/dropdown.svg");
    margin-left: 10px;
    transition: .3s ease transform;
    height: 25px;
}

/*.filter-groups .group .group-name.active + .filters{
    display: block;
}*/

.filters{
    display: none;
}

.filters.init-show{
    display: block;
}

.filter-groups .group-name.active:after{
    transform: rotate(180deg) translateY(-4px);
    transform-origin: center;
}

.filters label{
    margin-top: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filters label .filter-name{
    font-size: 14px;
    margin-left: 15px;
}

.filters label input[type='checkbox']{
    opacity: 0;
    z-index: -1;
    position: absolute;
}

.custom-checkbox{
    width: 20px;
    height: 20px;
    background-color: #F3F3F3;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease background-color;
}

.custom-checkbox img{
    opacity: 0;
    transition: .3s ease opacity;
}

.filters label input[type='checkbox']:checked + .custom-checkbox{
    background-color: #000000;
}

.filters label input[type='checkbox']:checked + .custom-checkbox img{
    opacity: 1;
}

#catalog .result-outer{
    flex: 1;
}

#catalog .result-outer .group .items{
    margin-top: 30px;
}

#catalog .result-outer .group .items>div{
    margin-bottom: 30px;
}

.overlay-modals{
    justify-content: center;
    padding-top: 20vh;
    padding-bottom: 15px;
    position: fixed;
    background-color: rgba(24, 25, 27, 0.24);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    z-index: 6;
    overflow: auto;
}

.modal{
    border-radius: 5px;
    background: #FFF;
    padding: 30px;
    width: 100%;
    max-width: 595px;
    position: relative;
    display: none;
    height: auto !important;
    align-self: flex-start;
}

.modal.product-item .__top{
    display: flex;
    align-items: center;
}

.modal.product-item .__top span{
    display: block;
}

.modal.product-item .__top span.name{
    margin-top: 0;
}

.modal.product-item .__top span.name,
.modal.product-item .__top span.price,
.modal.product-item .__top p{
    margin-bottom: 20px;
}

.modal.product-item .__top .short-description{
    max-width: 220px;
}

.modal.product-item .description-outer{
    margin-top: 30px;
}

.modal.product-item .description-title{
    font-size: 16px;
    font-weight: 700;
}

.modal.product-item .html-text{
    margin-top: 20px;
    color: #5A5A5A;
}

.modal .product-img{
    max-width: 220px;
    width: 100%;
    margin-right: 20px;
}

.modal .close{
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    transition: .3s ease transform;
}

.modal .close:hover{
    transform: rotate(90deg);
}

.modal-form h2{
    margin-bottom: 57px;
}

.modal-form .btn{
    margin-top: 15px !important;
    width: 100%;
}

#about-us__page{
    padding-top: 150px;
}

#about-us__page .__top img{
    max-width: 560px;
}

#about-us__page h2{
    margin-top: 50px;
    margin-bottom: 30px;
}

#about-us__page .row.__top p{
    max-width: 560px;
}

#about-us__page p{
    max-width: 830px;
}

#contact-us.__page h1{
    margin-bottom: 100px;
}

.swiper .product-item p{
    display: none;
}

.burger-menu, .menu__wrapper-block{
    display: none;
}

.overflow-hidden{
    overflow: hidden;
}

/* кнопка обратной связи */
.email-btn {
    background:#34C1D5;
    border:2px solid #34C1D5;
    border-radius:50%;
    box-shadow:0 8px 10px #22c9e1;
    cursor:pointer;
    height:68px;
    text-align:center;
    width:68px;
    position: fixed;
    right: 2%;
    bottom: 8%;
    z-index:999;
    transition:.3s;
}

.email-btn .text-send{
    height:68px;
    width:68px;
    border-radius:50%;
    position:relative;
    overflow:hidden;
}

.email-btn .text-send span {
    text-align: center;
    color:#34C1D5;
    opacity: 0;
    font-size: 0;
    position:absolute;
    right: 6px;
    top: 22px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: opacity .3s linear;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.email-btn .text-send:hover span {
    opacity: 1;
    font-size: 11px;
}
.email-btn:hover i {
    display:none;
}

.email-btn:hover {
    z-index:1;
    background:#fff;
    transition:.3s;
}
.email-btn:hover i {
    color:#38a3fd;
    font-size:40px;
    transition:.3s;
}
.email-btn i {
    color:#fff;
    font-size:29px;
    transition:.3s;
    line-height: 66px;
    margin-left: -4px;
}

.email-btn i  {
    -webkit-animation: opsimple 3s infinite;
    animation: opsimple 3s infinite;
}

@keyframes opsimple {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes opsimple {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* конец кнопки звязи */


@media screen and (max-width: 991px) {
    header nav{
        display: none;
    }

    .logo{
        width: 77px;
    }

    h1, h2.__big {
        font-size: 28px;
    }

    #main_top-section p{
        font-size: 14px;
        padding-right: 50px;
    }

    #main_top-section .social-links{
        bottom: 40px;
    }

    #about-us{
        padding-top: 70px;
    }

    h2 {
        font-size: 23px;
    }

    .text-line{
        margin-bottom: 52px;
    }

    #about-us .row{
        flex-wrap: wrap;
    }

    #about-us .row>div:last-child{
        display: none;
    }

    #about-us .btn {
        margin-top: 48px;
    }

    .btn{
        width: 100%;
    }

    #our-services .__top p{
        display: none;
    }

    #our-services .__top {
        justify-content: center;
    }

    #swiper-services {
        margin-top: 33px;
    }

    #how-we-work .row>div{
        width: 100%;
    }

    #paint-shop-rent .wrapper{
        padding: 20px;
    }

    #paint-shop-rent .row{
        flex-wrap: wrap;
    }

    #paint-shop-rent .row>.__left{
        margin-bottom: 40px;
        text-align: center;
    }

    #paint-shop-rent .btn.show-all {
        margin-top: 28px;
    }

    .swiper{
        padding-left: 15px;
        padding-right: 15px;
        margin-left: -15px;
        margin-right: -15px;
    }

    #swiper_trust-us{
        margin-top: 58px;
    }

    #contact-us {
        padding-top: 76px;
    }

    #contact-us h2 {
        margin-bottom: 45px;
    }

    #contact-us .groups>div:not(:last-child) {
        margin-bottom: 32px;
    }

    h3 {
        font-size: 18px;
    }

    #contact-us .groups .value {
        font-size: 15px;
    }

    #contact-us .row-outer>div.__right {
        margin-top: 50px;
    }

    form.default input, form.default textarea, form.default label span{
        font-size: 16px;
    }

    form.default .btn {
        margin-top: 0;
    }

    .col-btn{
        width: 100%;
    }

    footer .group .name, footer nav.__center a{
        font-size: 18px;
        margin-bottom: 6px;
    }

    footer .groups>.group{
        width: 100%;
        margin-top: 36px;
    }

    footer .row.__top>div:last-child{
        margin-top: 20px;
    }

    footer .group .value {
        font-size: 20px;
    }

    #contact-us .row-outer>div{
        padding-left: 15px;
        border-left: none;
    }

    #about-us__page .row.__top p{
        padding-bottom: 15px;
    }

    #about-us__page {
        padding-top: 79px;
    }

    #about-us__page h2.__top {
        margin-top: 0;
    }

    #catalog .result-outer .group .items>div{
        width: 50%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .product-item{
        padding: 14px;
    }

    #catalog .result-outer .group .items{
        margin-left: -5px;
        margin-right: -5px;
    }

    .product-item p{
        font-size: 14px;
    }

    .product-item .price{
        font-size: 18px;
    }

    .product-item .btn{
        font-size: 13px;
    }

    #popular-goods h2{
        margin-left: 0;
        text-align: center;
    }

    .people-banner{
        display: none;
    }

    #banner .wrapper-banner{
        padding: 30px;
    }

    #catalog .result-outer{
        margin-top: 15px;
    }

    #contact-us.__page h1 {
        margin-bottom: 54px;
    }

    header {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    header + *{
        margin-top: 62px;
    }

    .burger-menu{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        cursor: pointer;
        width: 35px;
        margin-left: 18px;
    }

    .burger-menu span{
        background: #000;
        border-radius: 1px;
        height: 2px;
        transition: .3s ease;
    }

    .burger-menu.opened span:nth-child(2){
        opacity: 0;
    }

    .burger-menu.opened span{
        width: 30px !important;
    }

    .burger-menu.opened span:first-child {
        transform: rotate(45deg) translateY(7px) translateX(4px);
    }

    .burger-menu.opened span:last-child {
        transform: rotate(-45deg) translateY(-17px) translateX(8px);
    }

    .burger-menu span:not(:first-child){
        margin-top: 5px;
        transform-origin: left top;
    }

    .burger-menu span:nth-child(1){
        width: 35px;
    }

    .burger-menu span:nth-child(2){
        width: 30px;
    }

    .burger-menu span:nth-child(3){
        width: 25px;
        transform-origin: right bottom;
    }

    section#top h1{
        font-size: 45px;
    }

    .menu__wrapper-block{
        position: fixed;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
        background-color: #fff;
        transition: .3s ease transform;
        transform: translateX(100%);
        display: flex;
        flex-direction: column;
        overflow: auto;
        padding: 140px 15px 10px;
        z-index: 4;
    }

    .menu__wrapper-block .btn{
        margin-top: auto;
    }

    .menu__wrapper-block.opened{
        transform: translateX(0);
    }

    .menu__wrapper-block nav a{
        font-size: 16px;
        color: #000;
    }

    .menu__wrapper-block ul li{
        margin-bottom: 25px;
    }

    .modal{
        padding-left: 18px;
        padding-right: 18px;
    }

    form.default>div{
        width: 100%;
    }

    .menu__wrapper-block .socials-wrapper{
        margin-top: 40px;
    }

    .menu__wrapper-block .socials-wrapper path{
        fill: #000;
    }

    .modal .product-img {
        max-width: 182px;
        width: 100%;
        margin-bottom: 24px;
        margin-right: 0;
    }

    .modal .product-img  + div{
        width: 100%;
    }

    .modal.product-item .__top{
        flex-direction: column;
    }

    .overlay-modals {
        justify-content: center;
        padding-top: 10vh;
    }

    .email-btn{
        transform: scale(0.8);
        bottom: 25px;
    }
}
